<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>example</title>
    <style>{% include "style.css" %}</style>
  </head>

  <body>
    <h2>HTML</h2>
    <pre><code>{% filter escape %}{% include "html-content.html" %}{% endfilter %}</code></pre>
    {% include "html-content.html" %}

    <h2>Org-mode</h2>
    <pre><code>{% filter escape %}{% include "org-content.org.html" %}{% endfilter %}</code></pre>
    {% include "org-content.org.html" %}

    <h2>JavaScript</h2>
    <pre><code>{% filter escape %}{% include "js-script.js" %}{% endfilter %}</code></pre>
    <div id="js-output"></div>
    <script>{% include "js-script.js" %}</script>

    <h2>Haskell</h2>
    <pre><code>{% filter escape %}{% include "hs-script/app/Main.hs" %}{% endfilter %}</code></pre>
    <div id="hs-output"></div>
    <script defer src="hs-script.js"></script>
  </body>
</html>
